* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  border: 1px solid #000;
  width: 40vw;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}

form input {
  margin-bottom: 10px;
  padding: 0 10px;
  height: 5vh;
}

form #signup {
  margin-top: 10px;
  background-color: #0000ff;
  color: #fff;
  border: 1px solid #0000ff;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 8px;
  height: 6vh;
  transition: background-color .5s ease;
  cursor: pointer;
}

form #signup:hover {
  background-color: #00006e;
}

form p {
  text-align: center;
  margin-top: 20px;
}